<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="fanxy" />
		<!-- 作者 -->
		<meta name="revised" content="fanxy.v1, 2020/4" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>添加员工</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../static/css/base.css">
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
		<script type="text/javascript" src="../static/framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
		<script type="text/javascript" src="../static/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.mCustomScrollbar.css">
		<script src="../static/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../static/framework/jquery.mousewheel.min.js"></script>
		<script src="../static/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../static/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<style>
			.layui-form{
				margin-right: 30%;
			}
		</style>

	</head>

	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-inline shortInput">
						<label>
							<input id="name" type="text" name="identity" required autocomplete="off" class="layui-input">
						</label>
					</div>
					<i class="iconfont icon-huaban bt"></i>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">登录密码</label>
					<div class="layui-input-inline shortInput">
						<label>
							<input id="password" type="password" name="password" required autocomplete="off" class="layui-input">
						</label>
					</div>
					<i class="iconfont icon-huaban bt"></i>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-inline">
						<label for="sex"></label><select id="sex">
					</select>
					</div>
					<i class="iconfont icon-huaban bt"></i>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">所在部门</label>
					<div class="layui-input-inline">
						<label for="department"></label><select name="provid" id="department">
					</select>
					</div>
            		<i class="iconfont icon-huaban bt"></i>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">岗位</label>
	                <div class="layui-input-inline">
						<label for="position"></label><select name="provid" id="position" >
	                    </select>
	                </div>
					<i class="iconfont icon-huaban bt"></i>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">进公司日期</label>
					<div class="layui-input-inline shortInput">
						<label>
							<input id="date" type="date" name="realName" required  autocomplete="off" class="layui-input">
						</label>
					</div>
					<i class="iconfont icon-huaban bt"></i>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">联系方式</label>
					<div class="layui-input-inline shortInput">
						<label>
							<input id="telephone" type="text" name="telephone" required autocomplete="off" class="layui-input">
						</label>
					</div>
					<i class="iconfont icon-huaban bt"></i>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" id="confirm" >立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>


		<script type="text/javascript">
			/**
			 * 动态获取字典值
			 * @param data.resultdata.dictionaryId 字典ID
			 * @param data.resultdata.statsName 字典名字
			 */
			$(window).on('load',function () {
				var dicData = JSON.parse(sessionStorage.getItem("dicData"));
				for(var i in dicData.resultdata){
					if(dicData.resultdata[i].dictionaryId === 1){
						$("#sex").append(new Option(dicData.resultdata[i].statsName,dicData.resultdata[i].statsName));
					}
					if(dicData.resultdata[i].dictionaryId === 2){
						$("#department").append(new Option(dicData.resultdata[i].statsName,dicData.resultdata[i].statsName));
					}
					if(dicData.resultdata[i].dictionaryId === 3){
						$("#position").append(new Option(dicData.resultdata[i].statsName,dicData.resultdata[i].statsName));
					}
					//不加这个选择框不刷新
					layui.form.render("select");
				}
			});
			/***
			 * 提交表单
			 */
			$('#confirm').click(function () {
				var name = $('#name');
				var password = $('#password');
				var sex = $('#sex');
				var department = $('#department');
				var position = $('#position');
				var date = $('#date');
				var telephone = $('#telephone');
				if(name.val() === "" || password.val() === "" || sex.val() === ""
						|| department.val() === "" || position.val() === "" || date.val() === "" || telephone.val() === ""){
					return layer.msg('请填写必填项！');

				}
				var emData = {};
				emData["username"] = name.val();
				emData["password"] = password.val();
				emData["sex"] = sex.val();
				emData["department"] = department.val();
				emData["position"] = position.val();
				emData["dateIntoCompany"] = date.val();
				emData["telephone"] = telephone.val();
				$.ajax({
					async:false,
					type: "POST",
					contentType: "application/json",
					url: "http://localhost:8080/em/insertEm",
					data: JSON.stringify(emData),
					success: function (data) {
						alert(data);
					}
				})
			})
		</script>
	</body>

</html>